<div class="container">
  <div class="row">
    <div class="col-sm-4 px-sm-0 mb-3">
      <h2 class="d-inline-block">投稿一覧</h2>
      <h4 class="d-inline-block ml-3">（全 <%= @posts.count %>件）</h4>
    </div>
    <!--新規投稿リンク-->
    <div class="col-sm-8">
      <%= link_to new_post_path, class:"btn btn-lg btn-dark" do %>
      <h5 class="mb-0"><i class="fas fa-plus-circle"></i> 投稿する</h5>
      <% end %>
    </div>
  </div>

    <div class="col-md-5 col-sm-7 mb-3" >
      <!--投稿検索フォーム-->
      <%= search_form_for @q, url: posts_path, class:"form-inline" do |f| %>
        <%= f.search_field :title_or_body_cont, placeholder: "キーワード検索",class:"form-control mr-sm-2" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  
  <!--投稿一覧-->
  <div class="row">
    <% @posts.each do |post| %>
    <div class=" col-xs-10 col-sm-6 col-md-6 col-lg-3">
      <div class="card w-90 h-100 bg-transparent text-center" style="width: 18rem;">
        <%= link_to post_path(post) do %>
          <p class="img-wrap"><%= image_tag post.get_post_image(200,100) %></p>
        <% end %>
        <div class="card-body py-0">
          <h6 class="card-title"><%= post.title %></h6>
           <h6 class="card-title d-inline-block"><i class="fas fa-heart fa-lg" style="color: #ff0000;"></i> いいね (<%=post.favorites.count %>)</h6>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <!--ページネーション-->
  <div class="row">
    <div class="mb-2 d-block mx-auto">
    <h5><%= paginate @posts %></h5>
    </div>
  </div>
</div>