<div class="container">
  <div class="row">
    <div class="col-lg-4 px-sm-0 mb-3">
      <h4 class="d-inline-block">投稿詳細</h4>
    </div>
      <!-- 自分の投稿の場合はボタンを表示 -->
        <div class="right-button">
          <% if @user == current_user %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary mr-2" %>
            <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: 'この投稿を削除してよろしいですか？' }, class: "btn btn-outline-danger" %>
          <% end %>
        </div>

    <!--投稿情報-->
    <div class="col-sm-8 mx-auto text-left">
      <table class="table table-reflow">
        <tr>
          <th style="width:120px">タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th style="width:150px">投稿日</th>
          <td><%= @post.created_at.to_s(:datetime_jp) %></td>  <!--日付の表示調整した-->
        </tr>
        <tr>
          <th style="width:150px">ユーザー名</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th style="width:150px">内容</th>
          <td><%= @post.body %></td>
        </tr>
      </table>
       <!--いいね機能-->
        <div class="favorite-btn">
          <%= render 'public/favorites/favorite', post: @post %>
        </div>
    </div>
  </div>

     <!--コメント投稿-->
      <div class="row mt-4">
        <div class="col-lg-3 px-sm-0 mb-3 mx-auto">
          <h6>コメントする</h6>
          <div id="new_comment">
            <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
          </div>
        </div>
        <!--コメント一覧表示-->
        <div class="col-lg-8 text-left">
          <div id="comments_area">
              <%= render 'public/comments/post_comments', comments: @comments %>
          </div>
        </div>
        <div class="my-1" style="max-width: 200px; margin: 0 auto;">
          <h3><%= paginate @comments %></h3>
        </div>
      </div>
  </div>
</div>