<div class="container">
  <div class="row">
    <div class="col-lg-4 px-sm-0 mb-3">
      <h4 class="d-inline-block">投稿詳細</h4>
    </div>

    <div class="col-lg-8 px-sm-0 mb-3">
      <!--編集ボタン-->
      <%= link_to edit_post_path(@post), class:"btn btn-lg btn-primary" do %>
      <div class="mb-0"><i class="far fa-edit"></i> 編集する</div>
      <% end %>

      <!--削除ボタン-->
      <% if @post.user == current_user %>
      <%= link_to "削除する", post_path(@post), method: :delete, class:"ml-3 btn btn-lg btn-warning" %>
      <% end %>
    </div>

    <!--投稿画像-->
    <div class="col-lg-4 mx-auto text-center">
      <%= image_tag @post.get_post_image(300,300) %>
    </div>

    <!--投稿情報-->
    <div class="col-sm-8 mx-auto text-left">
      <table class="table table-reflow">
        <tr>
          <th style="width:120px">タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th style="width:150px">投稿日</th>
          <td><%= @post.created_at.to_s(:datetime_jp) %></td>  <!--日付の表示調整した-->
        </tr>
        <tr>
          <th style="width:150px">ユーザー名</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th style="width:150px">内容</th>
          <td><%= @post.body %></td>
        </tr>
      </table>
    </div>

  </div>
</div>