<div class="contasiner">
  <div class="row mt-3 mb-3">
    <div class="col offset-1">
      <h4>ログイン</h4>
    </div>
  </div>

  <div class="col-sm-5 mx-auto mb-4">
    <h5>会員の方はこちらからログイン</h5>
  </div>

  <div class="col-sm-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row mb-3">
        <%= f.label "メールアドレス", class:"col-md-4" %>
        <%= f.email_field :email, autofocus: true, class:"col-md-5 form-control" %>
      </div>

      <div class="row mb-3">
        <%= f.label "パスワード", class:"col-md-4" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"col-md-2 form-control" %>
      </div>

      <div class="row mb-3">
        <%= f.submit "ログイン", class:"col-md-4 btn btn-primary" %>
        <%= link_to "ゲストログインで試す", users_guest_sign_in_path, method: :post, class:"col-md-6 ml-auto btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>